.row-container-search {
  margin-top: 1em;

  .col-container-search {
    display: flex;
    align-self: center;

    .text-search-component {
      color: #888888;
      font-size: 20px;
      height: fit-content;
      letter-spacing: 0.01em;
      line-height: 23px;
      margin-block: auto;
      padding-inline: 1em;
      white-space: nowrap;
    }

    .search-component {
      background-color: #ececec;

      .MuiSvgIcon-root {
        fill: #{$white};
      }

      .MuiIconButton-root {
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background-color: #{$primary};
          opacity: 0.6;
          transition: background-color 0.3s ease-in-out;
        }
      }
    }
  }
}

.container-item-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-block: 1rem;
  width: 100%;

  @include media-breakpoint-down(md) {
    justify-content: center;
  }
}

.button-load-more {
  background-color: transparent;
  border: none;
  color: #{$primary};
  margin: 1rem;

  span {
    padding-inline: 1em;
  }
}
