//variables

$primary: #c04281;
$secondary: #74677d;
$light-overlay: #ab5099;
$white: #ffffff;
$gray: #b2b2b2;
$dark-gray: #313131;

$font-family: Roboto, 'Helvetica Neue', Arial;

$background-light: #ffffff;
$background-dark: #313131;

$hero-img: url('assets/img/hero-navigation-info-image.svg');
